# Project exclude paths
/cloud-alibaba-sentinel8401/target/
/cloud-api-commons/target/
/cloud-config-center3344/target/
/cloud-config-client3355/target/
/cloud-config-client-nacos3377/target/
/cloud-consumer-feign-hystrix-order80/target/
/cloud-consumer-hystrix-dashboard9001/target/
/cloud-consumer-order80/target/
/cloud-consumer-order-nacos83/target/
/cloud-consumer-sentinel84/target/
/cloud-consumerconsul-order80/target/
/cloud-consumerfeign-order80/target/
/cloud-consumerzk-order80/target/
/cloud-eureka-server7001/target/
/cloud-eureka-server-7002/target/
/cloud-gateway9527/target/
/cloud-oauth2-resource/target/
/cloud-oauth2-server/target/
/cloud-provider-alibaba-payment9001/target/
/cloud-provider-alibaba-payment9002/target/
/cloud-provider-payment8001/target/
/cloud-provider-payment8002/target/
/cloud-provider-payment8003/target/
/cloud-provider-payment-hystrix8001/target/
/cloud-provider-sentinel9003/target/
/cloud-provider-sentinel9004/target/
/cloud-providerconsul-payment8004/target/
/cloud-shiro/target/
/seata-account-service2003/target/
/seata-order-service2001/target/
/seata-storage-service2002/target/